<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="sidebar panel" th:fragment="sidebar">
    <div class="panel-header">
        <span class="panel-kicker" data-i18n="LBL_EXPLORER"></span>
    </div>

    <div class="tree-view" id="explorer-tree">
        <div class="tree-children tree-root-list" id="folder-tree"></div>
        <div class="tree-children tree-root-list" id="file-tree"></div>
    </div>

    <div class="sidebar-empty" id="explorer-empty" data-i18n="LBL_NO_OPENED_FOLDER"></div>
</aside>
</body>
</html>
